<p>data-display works!</p>
<div class="container margin-30">
    <div class="card">
      <div class="card-body">
        <ol class="list-group list-group-numbered">
          <li *ngFor="let item of data" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold font-fam">{{item.id}}</div>
              {{item.name}}
            </div>
          
            <div class="col">
                
                <p>Current status {{ item.status }} </p>
             
                <form id="myForm">
                    <!-- <select name = "sel" #mySelect value = "mySelectValue"  [(ngModel)] = "item.status"  (ngModelChange)="onSelectChange(item,$event)" (click)="onClicked(item)"> -->
                    <select  value = {{item.status}}  (change)="onSelectChange(item,$event)">
                 
                        <option selected hidden>{{item.status}}</option>
                     
                       
                        <option value="active" [selected]="item.status=='active'">active </option>
                        <option value = "pending" [selected]="item.status=='pending'">pending </option>
                        <option  value="hold" [selected]="item.status=='hold'">hold</option>
                        <option value="cancelled" [selected]="item.status=='cancelled'">cancelled</option>
                       
                     
                    </select>
                  </form>
                </div>
          </li>
        </ol>
      </div>
    </div>
  </div>